@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

$main-font: 'Rakkas', cursive;
$font-family: 'Poppins', sans-serif;

$light-text: #fff;
$dark-text: rgb(35, 36, 36);
$accent-text: rgb(72, 131, 127);
$header: rgb(178, 215, 212);
$para-text: #838383;
$light-grey: #d5d5d5;
$background: rgb(64, 65, 58);
$grey: rgb(197, 198, 195);
$background-light: rgb(240, 240, 236);
$off-white: rgb(252, 250, 249);

$radius: 0.2rem;