header {
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px solid $background-light;
  padding: 10px 15px;
  z-index: 11;
  background-color: $header;
  color: $header;
}

.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 66px;

  .toolbar-nav {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 0.4rem;

      .navbar {
        display: flex;

        span {
          a {
            color: $accent-text;
            padding: 0 0.5rem;
            text-decoration: none;
            text-transform: lowercase;

            &:hover, &:active {
              color: black;
            }
          }
        }
      }
  }
  
  .app-name {
    font-size: 20px;
    padding: 20px;
    font-family: $font-family;
    left: 0;
    bottom: 0;

    &:hover {
      transform: rotateY(360deg);
      transition: all 2s ease;
    }
    
    .logo {
      color: $accent-text;
    }

    a {
      transform: rotateY(-45deg);
      font-size: 22px;
      font-weight: 600;
      color: $dark-text;
      position: relative;
      text-decoration: none;
    }
  }
}
  
.spacer {
  flex: 1;
}

/* search input */
.search-wrapper {
  width: 100%;
  margin: 80px 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.search-input {
  padding: 4px 0 0 4px;
  font-size: 20px;
  padding: 7px 0 4px 28px;
  border: none;
  color: $accent-text;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px $grey;
  height: 50px;
  margin: 0 1rem 0 1rem;

  &:hover {
    box-shadow: 0px 0px 0px $grey;
  }
}

select {
  appearance: none!important;
  outline: none;
  font-size: 20px;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0px 2px 4px $grey;
  padding: .8rem 2rem;
  margin: 0;
  color: $accent-text;
}

.select {
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  display: grid;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0.8em;
    height: 0.5em;
    background-color: $accent-text;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-right: 1rem;
  }
}

select, .select:after {
  grid-area: select;
}
  
  