@media(max-width: 1280px){ 
    .repo-details .details-content {
        margin: 0 380px;

        .content-text .info {
            padding-left: 10px;
        }
    }
}

@media(max-width: 1140px){ 
    .repo-details .details-content {
        margin: 0 300px;

        .content-text .info {
            padding-left: 10px;
        }
    }
}

@media(max-width: 991px){
    .home .search-wrapper h1 {
        font-size: 40px;
        margin-top: 4rem;
    }

    .search-wrapper {
        align-items: center;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        margin: 10px 0 10px 0;
    }
  
    .search-input {
        width: 280px;
        color: $accent-text;
        height: 50px;
    }

    select {
        margin-left: 0;
        width: 280px;
    }

    .select {
        margin-top: 1.5rem;
    }

    .select-lang {
        margin-top: 0.5rem;
    }

    .select-sort {
        margin-bottom: 0.4rem;
    }

    .home {
        width: 100%;
        margin: 0;
    }

    .card {
        display: grid;
        min-width: 50px;

        &__image {
            width: 100%;
        }
    }

    .detail-container {
        height: 100vh;
    }

    .repo-details {
        padding: 100px 0 10px 0;

        .details-content {
            margin: 0;

            .content-text .info {
                flex-direction: column;
                align-items: center;
                padding: 0;
    
                .list {
                    max-width: 500px;
                
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

@media(max-width: 500px){
    h1::before {
        display: none;
    }

    .home h1 {
        font-size: 34px;
    }

    .home .home-content {
        padding-left: 20px;
        margin-top: 240px;
    }

    footer {
        .row {
            flex-direction: column;
        }

        .social {
            text-align: center;
            margin-top: -12px;
        }

        .logo {
            text-align: center;
            margin-top: 8px;
            margin-bottom: -12px;
        }
    }
}

@media (max-width: 375px) {

    .home .search-wrapper h1 {
        font-size: 30px;
        margin-top: 4rem;
    }

    .search-input {
        width: 280px;
        color: $accent-text;
        height: 50px;
    }

    .search-wrapper {
        justify-content: start;
        flex-wrap: wrap;
        margin: 30px 0 10px 0;
    }

    select {
        margin-left: 0;
        width: 280px;
    }

    .select {
        margin-top: 1rem;
    }

    .select-lang {
        margin-top: 0.5rem;
    }

    .select-sort {
        margin-bottom: 0.4rem;
    }
  
    .home {
        width: 100%;
        margin: 0;
    }

    .card {
        display: grid;
        min-width: 50px;

        &__image {
            width: 100%;
        }
    }

    .repo-details {
        padding: 100px 0 10px 0;

        .details-content .content-text .info {
            flex-direction: column;
            align-items: center;

            .list {
                max-width: 500px;
            }
        }
    }
}