.App {
    padding: 50px 100px;
}
  
.searchForm input {
    border: 2px solid #777;
    padding: 10px;
    font-size: 18px;
}

.searchForm button {
    background-color: rgb(62, 139, 113);
    color: rgb(204, 202, 202);
    padding: 12px;
    font-size: 18px;
    border: 0;
}